html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #333;
}

.iconfont {
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
}
.purple {
    color: #783d7f;
}
.text-center {
    text-align: center;
}
.fr {
    float: right;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
  
.clearfix:after {
    clear: both
}

.btn-warning {
    color: #cf8c34;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:visited {
    color: #e9b86e;
}
.btn-danger {
    color: #fc3030;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:visited {
    color: #fd7d7d;
}

.btn-add {
    color: #fff;
    border-color: #e8cceb;
    background-color: #783d7f;
}
.btn-add:focus,
.btn-add:hover {
    color: #f9f9f9;
    border-color: #e8cceb;
    background-color: #936899;
}